@charset 'utf-8';
@import "fonts.scss";

%flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato';
  font-weight: 100;
}

.container {
  @extend %flexcenter;
  width: 100%;
  height: 100vh;
  background: #1f1f1f;
  color: white;
  flex-direction: column;
}

.display {
  font-size: 16em;
  @extend %flexcenter;
  width: 100%;
  flex: 3;
}

.settings {
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  width: 100%;
  flex: 1;
  position: relative;

  > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    color: rgba(255, 255, 255, 0.4);
  }
  > div:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.breakSetting:before {
  content: "Break Time";
  position: absolute;
  top: -40px;
  font-size: 1.5rem;
}

.taskSetting:before {
  content: "Session Time";
  position: absolute;
  top: -40px;
  font-size: 1.5rem;
}

.toggle, .reset {
  cursor: pointer;
}

button {
  border: none;
  background: inherit;
  outline: none;
  color: inherit;
  font-size: inherit;
}